#menu {
   
    animation: slide 0.5s linear;
}

@keyframes slide {
    from{
        opacity: 0;
    }

    to {
      opacity: 1;

    }
}

#menu ul li,
#img {
    animation: move 1s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
   

   
}

@keyframes move {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;

    }
}



#menu ul li:nth-child(0) {
    animation-delay: 200ms;
}

#menu ul li:nth-child(1) {
    animation-delay: 300ms;
}

#menu ul li:nth-child(2) {
    animation-delay: 400ms;
}

#menu ul li:nth-child(3) {
    animation-delay: 500ms;
}

#menu ul li:nth-child(4) {
    animation-delay: 600ms;
}
#img {
    animation-delay: 700ms;
}